# render.yaml
# Place this in the root of your project repository

services:
  - type: web
    name: iitpcep.online # Or whatever you want to call it
    env: python # The environment (Python 3)
    plan: free # Or your paid plan
    
    buildFilter:
      paths:
      - "**/requirements.txt"
      - "**/*.py"
      
    # Build command (runs on deploy)
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
      
    # Start command (runs the server)
    startCommand: "gunicorn iitpcep.wsgi:application"
    
    envVars:
      - key: DJANGO_DEBUG
        value: False
      - key: DJANGO_SECRET_KEY
        fromGroup: django-secrets # See note below
      - key: DB_HOST
        fromGroup: django-secrets
      - key: DB_NAME
        fromGroup: django-secrets
      - key: DB_USER
        fromGroup: django-secrets
      - key: DB_PASS
        fromGroup: django-secrets
      - key: GS_BUCKET_NAME
        fromGroup: django-secrets
      - key: GOOGLE_CREDENTIALS_JSON
        fromGroup: django-secrets
