
<!DOCTYPE html>
{% load static %}
{% load user_extras %}
<html  dir="ltr" lang="en" xml:lang="en">
<head>

    <link rel="shortcut icon" href="https://cet.iitp.ac.in/moodle/pluginfile.php/1/theme_moove/favicon/1706000481/IITP_Logo.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="moodle, Dashboard" />
<link rel="stylesheet" type="text/css" href="https://cet.iitp.ac.in/moodle/theme/yui_combo.php?rollup/3.18.1/yui-moodlesimple-min.css" /><script id="firstthemesheet" type="text/css">/** Required in order to fix style inclusion problems in IE with YUI **/</script><link rel="stylesheet" type="text/css" href="https://cet.iitp.ac.in/moodle/theme/styles.php/moove/1706000481_1/all" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  referrerpolicy="no-referrer"
/>

    <script>
//<![CDATA[
var M = {}; M.yui = {};
M.pageloadstarttime = new Date();
M.cfg = {"wwwroot":"https:\/\/cet.iitp.ac.in\/moodle","homeurl":{},"sesskey":"hjojWRqnsm","sessiontimeout":"28800","sessiontimeoutwarning":"1200","themerev":"1706000481","slasharguments":1,"theme":"moove","iconsystemmodule":"core\/icon_system_fontawesome","jsrev":"1706000481","admin":"admin","svgicons":true,"usertimezone":"Asia\/Kolkata","courseId":1,"courseContextId":2,"contextid":56852,"contextInstanceId":27291,"langrev":1706000481,"templaterev":"1706000481"};var yui1ConfigFn = function(me) {if(/-skin|reset|fonts|grids|base/.test(me.name)){me.type='css';me.path=me.path.replace(/\.js/,'.css');me.path=me.path.replace(/\/yui2-skin/,'/assets/skins/sam/yui2-skin')}};
var yui2ConfigFn = function(me) {var parts=me.name.replace(/^moodle-/,'').split('-'),component=parts.shift(),module=parts[0],min='-min';if(/-(skin|core)$/.test(me.name)){parts.pop();me.type='css';min=''}
if(module){var filename=parts.join('-');me.path=component+'/'+module+'/'+filename+min+'.'+me.type}else{me.path=component+'/'+component+'.'+me.type}};


//]]>
</script>
<script
                                    async
                                    src='https://www.googletagmanager.com/gtag/js?id=DD9HXHR7WN'>
                                </script>
                                <script>
                                    window.dataLayer = window.dataLayer || [];
                                    function gtag() {
                                        dataLayer.push(arguments);
                                    }
                                    gtag('js', new Date());
                                    gtag('config', 'DD9HXHR7WN');
                                </script><link rel="preconnect" href="https://fonts.googleapis.com">
                       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                       <link href="https://fonts.googleapis.com/css2?family=Oxygen:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

