{% include '_head.html' %}
{% include '_header.html' %}
{% load user_extras %}
<title>Dashboard</title>


    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers   drag-container">

        <header id="page-header" class="moove-container-fluid">
    <div class="d-flex flex-wrap">
        <div class="ml-auto d-flex">
            
        </div>
        <div id="course-header">
            
        </div>
    </div>
    <div class="d-sm-flex align-items-center">
            <h2>
    {% if username %}
      Welcome back, {{ username.split|first|title }}! 👋
    {% else %}
      Welcome back, IItians! 👋
    {% endif %}</h2>
        <div class="header-actions-container ml-auto" data-region="header-actions-container">
        </div>

    </div>
</header>

        <div id="topofscroll" class="main-inner">
            <div class="drawer-toggles d-flex">
                    <div class="drawer-toggler drawer-right-toggle ml-auto d-print-none">
                        <button
                            class="btn icon-no-margin"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-blocks"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Open block drawer"
                        >
                            <span class="sr-only">Open block drawer</span>
                            <span class="dir-rtl-hide"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"  ></i></span>
                            <span class="dir-ltr-hide"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"  ></i></span>
                        </button>
                    </div>
            </div>

            <div id="page-content" class="d-print-block">
                <div id="region-main-box">
                    <section id="region-main" aria-label="Content">

                        <span class="notifications" id="user-notifications"></span>
                        <div role="main"><span id="maincontent"></span><aside id="block-region-content" class="block-region" data-blockregion="content" data-droptarget="1"><a href="#sb-3" class="sr-only sr-only-focusable">Skip Microsoft</a>

            <section id="inst36296"
                 class=" block_microsoft block  card mb-3"
                 role="complementary"
                 data-block="microsoft"
                 data-instance-id="36296"
                      aria-labelledby="instance-36296-header"
                 >

                <div class="card-body p-3">

                        <h5 id="instance-36296-header" class="card-title d-inline">Microsoft</h5>


                    <div class="card-text content mt-3">
                        <h5>{% if username %} {{ username.split|first|title }}, you are currently {% else %} IItians, you are currently {% endif %} <span class="notifysuccess">connected</span> to Microsoft 365</h5><ul>
            <li><a class="servicelink block_microsoft_outlook" target="_blank" >My Email</a></li>
            <li></li>
            <li><a target="_blank" class="servicelink block_microsoft_onedrive" >My OneDrive</a></li>
            <li><a target="_blank" class="servicelink block_microsoft_msteams" >Microsoft Teams</a></li>
            <li><a class="servicelink block_microsoft_preferences" >Edit settings</a></li>
            <li><a class="servicelink block_microsoft_downloado365" target="_blank" >Install Office</a></li>
            </ul>
            <div class="footer"></div>
            
        </div>

    </div>

</section>

  <span id="sb-3"></span><a href="#sb-4" class="sr-only sr-only-focusable">Skip My courses</a>

<section id="inst36298"
     class=" block_course_list block list_block  card mb-3"
     role="navigation"
     data-block="course_list"
     data-instance-id="36298"
          aria-labelledby="instance-36298-header"
     >

    <div class="card-body p-3">

            <h5 id="instance-36298-header" class="card-title d-inline">My courses</h5>


        <div class="card-text content mt-3">
    <ul class="unlist">
        {% for course in courses %}
        <li class="r{{ forloop.counter0|divisibleby:2|yesno:'0,1' }}">
            <div class="column c1">
                <a title="{{ course.title }}" href="{% url 'course_detail' course.code %}">
                    <i class="icon fa fa-graduation-cap fa-fw" title="Course" role="img" aria-label="Course"></i>
                    BO CDA {{ course.code }}: {{ course.title }}
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="footer">
        <a href="{% url 'mycourses' %}">All courses</a> ...
    </div>

            
        </div>

    </div>

</section>

  <span id="sb-4"></span><a href="#sb-5" class="sr-only sr-only-focusable">Skip Timeline</a>

<section id="inst36294"
     class=" block_timeline block  card mb-3"
     role="complementary"
     data-block="timeline"
     data-instance-id="36294"
          aria-labelledby="instance-36294-header"
     >

    <div class="card-body p-3">

            <h5 id="instance-36294-header" class="card-title d-inline">Timeline</h5>


        <div class="card-text content mt-3">
            <div id="block-timeline-690b672daa52c690b672d9c8172-1" class="block-timeline" data-region="timeline">

    <div class="p-0 px-2">
        <div class="row no-gutters">
            <div class="mr-2 mb-1">
                <div data-region="day-filter" class="dropdown mb-1">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle icon-no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            aria-label="Filter timeline by date" aria-controls="menudayfilter"
                            title="Filter timeline by date" aria-describedby="timeline-day-filter-current-selection">
                        <span id="timeline-day-filter-current-selection" data-active-item-text>
                             Next 30 days
                        </span>
                    </button>
                    <div id="menudayfilter" role="menu" class="dropdown-menu" data-show-active-item data-skip-active-class="true">
                        <a class="dropdown-item" href="#" data-from="-14" data-filtername="all" role="menuitem">All</a>
                        <a class="dropdown-item" href="#" data-from="-14" data-to="1" data-filtername="overdue" role="menuitem">Overdue</a>
                        <div class="dropdown-divider" role="separator"></div>
                        <h6 class="dropdown-header">Due date</h6>
                        <a class="dropdown-item" href="#" data-from="0" data-to="7" data-filtername="next7days" role="menuitem">Next 7 days</a>
                        <a class="dropdown-item" href="#" data-from="0" data-to="30" data-filtername="next30days" aria-current="true" role="menuitem">Next 30 days</a>
                        <a class="dropdown-item" href="#" data-from="0" data-to="90" data-filtername="next3months" role="menuitem">Next 3 months</a>
                        <a class="dropdown-item" href="#" data-from="0" data-to="180" data-filtername="next6months" role="menuitem">Next 6 months</a>
                    </div>
                </div>
            </div>
            <div class="mr-auto mb-1">
                <div data-region="view-selector" class="btn-group mb-1">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle icon-no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            aria-label="Sort timeline items" aria-controls="menusortby"
                            title="Sort timeline items" aria-describedby="timeline-view-selector-current-selection">
                        <span id="timeline-view-selector-current-selection" data-active-item-text>
                            Sort by dates
                        </span>
                    </button>
                    <div id="menusortby" role="menu" class="dropdown-menu dropdown-menu-right list-group hidden" data-show-active-item data-skip-active-class="true">
                        <a class="dropdown-item" href="#view_dates_690b672daa52c690b672d9c8172-1" data-toggle="tab" data-filtername="sortbydates" aria-current="true" role="menuitem">
                            Sort by dates
                        </a>
                        <a class="dropdown-item" href="#view_courses_690b672daa52c690b672d9c8172-1" data-toggle="tab" data-filtername="sortbycourses" role="menuitem">
                            Sort by courses
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-8 col-12 mb-1 d-flex justify-content-end nav-search">
                <div class="w-100">
                                    <div id="searchform-auto-690b672daa52c690b672d9c8172" class="form-inline simplesearchform">
                    <div class="input-group searchbar w-100" role="search">
                        <label for="searchinput-690b672daa52c690b672d9c8172">
                            <span class="sr-only">Search by activity type or name</span>
                        </label>
                        <input
                           type="text"
                           data-region="input"
                           data-action="search"
                           id="searchinput-690b672daa52c690b672d9c8172"
                           class="form-control withclear rounded"
                           placeholder="Search by activity type or name"
                           name="search"
                           value=""
                           autocomplete="off"
                        >
                        <button
                            class="btn btn-clear d-none"
                            data-action="clearsearch"
                            type="button"
                        >
                           <i class="icon fa fa-times fa-fw " aria-hidden="true"  ></i>
                            <span class="sr-only">Clear search input</span>
                        </button>
                    </div>
                </div>
</div>
            </div>
        </div>
        <div class="pb-3 px-2 border-bottom"></div>
    </div>


    <div class="p-0">
        <div data-region="timeline-view">
            <div class="tab-content">

                            <div data-region="event-list-content">

                                {% if timeline_activities %}

                                    {% regroup timeline_activities by course as course_list %}

                                    <ul class="list-group unstyled">
                                    {% for course_group in course_list %}
                                        <li class="list-group-item mt-3 p-0 px-2 border-0">
                                            <h2 class="h5 font-weight-bold mb-2" data-region="course-heading">
                                                BO CDA {{ course_group.grouper.code }}:{{ course_group.grouper.title }}
                                            </h2>

                                            {% regroup course_group.list by close_date_group as activity_list_by_date %}

                                            <ul class="pl-0 list-group list-group-flush">
                                            {% for day_group in activity_list_by_date %}
                                                <li class="list-group-item p-0">

                                                    <div class="font-weight-bold" data-region="date-heading">
                                                        <span>{{ day_group.grouper|date:"l, j F Y"|default:day_group.grouper }}</span>
                                                    </div>

                                                    {% for activity in day_group.list %}
                                                        <div class="row my-2">
                                                            <div class="col-auto text-center text-muted" data-region="event-time">
                                                                {{ activity.close_date|date:"H:i"|default:"-" }}
                                                            </div>
                                                            <div class="activityiconcontainer assessment courseicon align-self-start mr-3">
                                                                <img src="https://cet.iitp.ac.in/moodle/theme/image.php/moove/quiz/1706000481/monologo?filtericon=1" class="activityicon" alt="quiz icon">
                                                            </div>
                                                            <div class="col-7" data-region="event-text-container">

                                                                {% if activity.model_name == "Quiz" %}{% url 'quiz_detail' 'quiz' activity.id as attempt_url %}{% endif %}
                                                                {% if activity.model_name == "Assignment" %}{% url 'assignment_detail' 'assignment' activity.id as attempt_url %}{% endif %}
                                                                {% if activity.model_name == "Exam" %}{% url 'exam_detail' 'exam' activity.id as attempt_url %}{% endif %}

                                                                <a href="{% url 'test_detail' test_type=activity.model_name_lower test_id=activity.id %}" class="font-weight-bold" style="color: #0f47ad;">{{ activity.title }}</a>
                                                                <div class="text-muted small">
                                                                    {% if activity.close_date %}
                                                                        {{ activity.model_name }} closes
                                                                    {% else %}
                                                                        {{ activity.model_name }} is open
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-3 text-right" data-region="event-action-container">
                                                                <a href="{% url 'test_detail' test_type=activity.model_name_lower test_id=activity.id %}" class="btn btn-outline-secondary btn-sm" role="button">
                                                                    Attempt quiz now
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="pb-3 px-2 border-bottom"></div>
                                                    {% endfor %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                    </ul>

                                {% else %}
                                    <div class="text-xs-center text-center mt-3" data-region="no-events-empty-message" style="display: block !important;">
                                        <img
                                            src="https://cet.iitp.ac.in/moodle/theme/image.php/moove/block_timeline/1706000481/activities"
                                            alt=""
                                            style="height: 70px; width: 70px"
                                        >
                                        <p class="text-muted mt-1">No activities require action</p>
                                    </div>
                                {% endif %}

                            </div>

                            <div data-region="event-list-loading-placeholder" class="hidden">
                                <ul class="pl-0 list-group list-group-flush">
                                    </ul>
                            </div>

                            <div class="hidden text-xs-center text-center mt-3" data-region="no-events-empty-message">
                                <img
                                    src="https."
                                    alt=""
                                    style="height: 70px; width: 70px"
                                >
                                <p class="text-muted mt-1">No activities require action</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class.="tab-pane  fade"
                    data-region="view-courses"
                    data-midnight="1762281000"
                    data-limit="2"
                    data-offset="0"
                    data-days-limit="7"
                    data-days-offset="0"
                    data-no-events-url=""

                    id="view_courses_690b672daa52c690b672d9c8172-1"
                >
                        <div data-region="course-items-loading-placeholder">
                           </div>
                    <ul class="list-group unstyled" data-region="courses-list"></ul>
                    <div class="hidden text-xs-center text-center pt-3" data-region="more-courses-button-container">
                        <button type="button" class="btn btn-primary" data-action="more-courses">
                            Show more courses
                            <span class="hidden" data-region="loading-icon-container">
                                <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw "  title="Loading" role="img" aria-label="Loading"></i></span>
                            </span>
                        </button>
                    </div>
                    <div class="hidden text-xs-center text-center mt-3" data-region="no-events-empty-message">
                        <img
                            src=""
                            alt=""
                            style="height: 70px; width: 70px"
                        >
                        <p class="text-muted mt-1">No activities require action</p>
                    </div>
                </div>
            </div>
        </div>
</div>
            <div class="footer"></div>


</section>

  <span id="sb-5"></span><a href="#sb-6" class="sr-only sr-only-focusable">Skip Calendar</a>

<section id="inst36295"
     class=" block_calendar_month block  card mb-3"
     role="complementary"
     data-block="calendar_month"
     data-instance-id="36295"
          aria-labelledby="instance-36295-header"
     >

    <div class="card-body p-3">
    <h5 id="instance-36295-header" class="card-title d-inline">Calendar</h5>
    <div class="card-text content mt-3">
        <div data-region="calendar" class="maincalendar">
            <div id="calendar-month-dynamic-1" data-template="core_calendar/month_detailed">

                <div class="header d-flex flex-wrap p-1">
                    <label class="sr-only" for="calendar-course-filter-1">List of courses</label>
                    <select class="select custom-select cal_courses_flt ml-1 mr-auto" id="calendar-course-filter-1" name="course">
                        <option selected="selected" value="1">All courses</option>
                        {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.title }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary float-sm-right float-right" data-context-id="2" data-action="new-event-button">
                        New event
                    </button>
                </div>

                <div class="calendarwrapper" data-courseid="1" data-context-id="2" data-month="{{ current_month_num }}" data-year="{{ current_year }}" data-view="monthblock">

            <style>
                /* Force Modal to be on top of everything */
                #calendarEventModal {
                    z-index: 105050 !important;
                }
                .modal-backdrop {
                    z-index: 105040 !important;
                }

                /* Custom Position (8vh from top) */
                .modal-dialog-custom-pos {
                    margin-top: 3vh;
                    max-width: 500px;
                    margin-left: auto;
                    margin-right: auto;
                }

                /* Blue Outline */
                .custom-modal-content {
                    border: 3.5px solid #0f47ad;
                    border-radius: 12px;
                    overflow: hidden;
                }

                .calendar-event-link:hover {
                    text-decoration: underline !important;
                    cursor: pointer;
                }
            </style>

            <div class="calendarwrapper" data-courseid="1" data-context-id="2" data-month="{{ current_month_num }}" data-year="{{ current_year }}" data-view="monthblock">

                <div id="month-navigation-dynamic-1" class="controls">
                    <div class="calendar-controls">
                        <a class="arrow_link previous" href="?year={{ prev_month.year }}&month={{ prev_month.month_num }}">
                            <span class="arrow">&#x25C4;</span>&nbsp;<span class="arrow_text">{{ prev_month.month_name }}</span>
                        </a>
                        <span class="hide"> | </span>
                        <h4 class="current">{{ current_month_name }} {{ current_year }}</h4>
                        <span class="hide"> | </span>
                        <a class="arrow_link next" href="?year={{ next_month.year }}&month={{ next_month.month_num }}">
                            <span class="arrow_text">{{ next_month.month_name }}</span>&nbsp;<span class="arrow">&#x25BA;</span>
                        </a>
                    </div>
                </div>

                <table id="month-detailed-dynamic-1" class="calendarmonth calendartable mb-0">
                    <thead>
                        <tr>
                            <th class="header text-xs-center">Mon</th>
                            <th class="header text-xs-center">Tue</th>
                            <th class="header text-xs-center">Wed</th>
                            <th class="header text-xs-center">Thu</th>
                            <th class="header text-xs-center">Fri</th>
                            <th class="header text-xs-center">Sat</th>
                            <th class="header text-xs-center">Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in calendar_weeks %}
                        <tr data-region="month-view-week">
                            {% for day_data in week %}
                                <td class="{{ day_data.classes }} day-cell" data-day="{{ day_data.day_num }}">
                                    {% if day_data.day_num != 0 %}
                                        {% with day=day_data.day_num day_events=day_data.events %}

                                        <div class="d-none d-md-block hidden-phone text-xs-center">

                                            {# --- 1. DAY NUMBER LINK (View All Events) --- #}
                                            {# Using onclick="openDayView(this)" to FORCE execution #}
                                            <a href="javascript:void(0);"
                                               class="aalink day"
                                               onclick="openDayView(this)"
                                               data-date-full="{{ day }} {{ current_month_name }} {{ current_year }}">
                                               <span class="day-number-circle"><span class="day-number">{{ day }}</span></span>
                                            </a>

                                            <div data-region="day-content">
                                                <ul>
                                                    {% if day_events %}
                                                        {% for event in day_events %}
                                                        <li data-region="event-item">
                                                            {% url 'test_detail' test_type=event.model_name_lower test_id=event.id as activity_url %}

                                                            {# --- 2. SINGLE EVENT LINK --- #}
                                                            {# Using onclick="openSingleEvent(this)" to FORCE execution #}
                                                            <a href="javascript:void(0);"
                                                               class="calendar-event-link"
                                                               onclick="openSingleEvent(this)"
                                                               data-title="{{ event.title }}"
                                                               data-date="{{ event.start_date|date:'l, j F, h:i A' }}"
                                                               data-course="BO CDA {{ event.course.code }}: {{ event.course.title }}"
                                                               data-type="{{ event.type|default:'Course event' }}"
                                                               data-url="{{ activity_url }}"
                                                               title="{{ event.title }}">

                                                                <span class="calendar-circle calendar_event_course">&nbsp;</span>
                                                                <span class="eventname" style="color: #0f47ad;">{{ event.title }} {{ event.type }}</span>
                                                            </a>

                                                            {# HIDDEN STORAGE FOR DAY VIEW #}
                                                            <div class="event-data-storage" style="display:none;"
                                                                 data-title="{{ event.title }} {{ event.type }}"
                                                                 data-url="{{ activity_url }}"
                                                                 data-course="{{ event.course.code }}: {{ event.course.title }}"></div>
                                                        </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="d-md-none hidden-desktop hidden-tablet">
                                             <a href="javascript:void(0);"
                                                class="day aalink"
                                                onclick="openDayView(this)"
                                                data-date-full="{{ day }} {{ current_month_name }}">
                                                <span class="day-number-circle"><span class="day-number">{{ day }}</span></span>
                                             </a>
                                        </div>

                                        {% endwith %}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="calendarEventModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-custom-pos shadow-lg" role="document">
                <div class="modal-content custom-modal-content">

                  <div class="modal-header" style="background-color: #ffd3bd; border-bottom: none;">
                    <h5 class="modal-title font-weight-bold text-dark" id="modalEventTitle">Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body pl-4 pr-4 pt-3">

                      <div id="single-event-view" style="display: none;">
                          <div class="media mb-1 align-items-center">
                              <i class="fa fa-clock-o mr-3" style="width: 20px; text-align: center; font-size: 1.1em;"></i>
                              <div class="media-body text-dark" id="modalEventDate"></div>
                          </div>
                          <div class="media mb-1 align-items-center">
                              <i class="fa fa-calendar mr-3" style="width: 20px; text-align: center; font-size: 1.1em;"></i>
                              <div class="media-body text-dark" id="modalEventType"></div>
                          </div>
                          <div class="media mb-1 align-items-center">
                              <i class="fa fa-graduation-cap mr-3" style="width: 20px; text-align: center; font-size: 1.1em;"></i>
                              <div class="media-body" style="color: #0f47ad;" id="modalEventCourse"></div>
                          </div>
                      </div>

                      <div id="day-list-view" style="display: none;">
                          <div id="day-list-container"></div>
                          <div id="no-events-message" class= text-center py-3">No events today.</div>
                      </div>
                  </div>

                  <div class="modal-footer border-top-1 pt-0 pb-2">
                    <a href="#" id="modalGoToActivity" class="btn btn-link float-right" style="text-decoration: none; color: #0f47ad;">Go to activity</a>
                  </div>

                </div>
              </div>
            </div>

            <script>
            // --- FUNCTION 1: OPEN SINGLE EVENT ---
            function openSingleEvent(element) {
                console.log("Single Event Clicked"); // Check your console (F12)

                var link = $(element);
                var modal = $('#calendarEventModal');

                // 1. Reset Views
                $('#day-list-view').hide();
                $('#single-event-view').show();

                // 2. Get Data
                var title = link.attr('data-title');
                var date = link.attr('data-date');
                var course = link.attr('data-course');
                var type = link.attr('data-type');
                var url = link.attr('data-url');

                // 3. Set Data
                modal.find('#modalEventTitle').text(title + ' ' + type);
                modal.find('#modalEventDate').text(date);
                modal.find('#modalEventType').text('Course event');
                modal.find('#modalEventCourse').text(course);

                // 4. Handle Button
                if (url && url !== "") {
                    modal.find('#modalGoToActivity').attr('href', url).show();
                } else {
                    modal.find('#modalGoToActivity').hide();
                }

                // 5. Force Open
                modal.modal('show');
            }

            // --- FUNCTION 2: OPEN DAY VIEW (CLICK NUMBER) ---
            function openDayView(element) {
                console.log("Day View Clicked"); // Check your console (F12)

                var link = $(element);
                var modal = $('#calendarEventModal');

                // 1. Reset Views
                $('#single-event-view').hide();
                $('#day-list-view').show();
                $('#modalGoToActivity').hide();

                // 2. Set Header Date
                var dateFull = link.attr('data-date-full');
                modal.find('#modalEventTitle').text(dateFull);

                // 3. Build List from hidden storage
                var listContainer = $('#day-list-container');
                listContainer.empty();

                var parentCell = link.closest('td');
                var events = parentCell.find('.event-data-storage');

                if (events.length > 0) {
                    $('#no-events-message').hide();
                    var ul = $('<ul class="list-group list-group-flush"></ul>');

                    events.each(function() {
                        var t = $(this).attr('data-title');
                        var u = $(this).attr('data-url');
                        var c = $(this).attr('data-course');

                        var li = $('<li class="list-group-item px-0 border-0"></li>');
                        var a = $('<a></a>').attr('href', u).addClass('font-weight-bold').css('color', '#0f47ad').text(t);
                        var span = $('<div class="text-muted small"></div>').text(c);
                        li.append(a).append(span);
                        ul.append(li);
                    });
                    listContainer.append(ul);
                } else {
                    $('#no-events-message').show();
                }

                // 4. Force Open
                modal.modal('show');
            }
            </script>

        </div></div>
            <div class="footer"><div class="bottom">
        <span class="footer-link">
            <a href="">Full calendar</a>
        </span>
        <span class="footer-link">
            <a href="">Import or export calendars</a>
        </span>
</div></div>
            
        </div>

    </div>

</section>

  <span id="sb-6"></span><a href="#sb-7" class="sr-only sr-only-focusable">Skip Analytic Widgets</a>

<section id="inst45"
     class=" block_analyticswidget block  card mb-3"
     role="complementary"
     data-block="analyticswidget"
     data-instance-id="45"
          aria-labelledby="instance-45-header"
     >

    <div class="card-body p-3">

            <h5 id="instance-45-header" class="card-title d-inline">Analytic Widgets</h5>


        <div class="card-text content mt-3">
            <div class="ananyticswidget">




            <div class="aw_teacher">
                <div class="aw_header">
        <h4> My </h4>
        <div class="tools">
            <a title="Profile" data-toggle="tooltip" href="https://cet.iitp.ac.in/moodle/user/profile.php?id=27291"><i class="fa fa-user"></i></a>
        </div>
                </div>
        <div class=" row  mt-4">
            <div class="aw_widget_header">



</div>
<div class="aw_stats col-md-12 mb-4">
    <div class="aw_widget_header">
        
        <h5> <a href="{% url 'mycourses' %}" title="My courses"
                data-toggle="tooltip"><i class="fa fa-graduation-cap"></i> courses, so far as student</a>
            </h5>

        <div class="tools">
            
        </div>
    </div>
    <div class="row mx-0 aw-shadow-box ">


        <div class="col-md-6 ">
            <canvas id="enrolment_course_stats" class="aw_chart">

            </canvas>
        </div>


        <div class="col-md-6 ">
            <canvas id="completion_course_stats" class="aw_chart">

            </canvas>
        </div>

    </div>
</div>
        </div>
    </div>
</div>
            <div class="footer"></div>
            
        </div>

    </div>

</section>

  <span id="sb-7"></span><a href="#sb-8" class="sr-only sr-only-focusable">Skip Online users</a>

<section id="inst56468"
     class=" block_online_users block  card mb-3"
     role="complementary"
     data-block="online_users"
     data-instance-id="56468"
          aria-labelledby="instance-56468-header"
     >

    <div class="card-body p-3">

            <h5 id="instance-56468-header" class="card-title d-inline">Online users</h5>


        <div class="card-text content mt-3">
            <div class="info">98 online users (last 5 minutes)</div><ul class='list'>
<li class="listentry"><div class="user"><a title="2 secs"><span class="userinitials size-30">{{ username|default:"I"|user_initials }}</span>{{ username }}</a></div><div class="uservisibility"><a title="Show my online status to other users" data-action="show" data-userid="27291" id="change-user-visibility" ><i class="icon fa fa-eye-slash fa-fw "  title="Show my online status to other users" role="img" aria-label="Show my online status to other users"></i></a></div></li>
<li class="listentry"><div class="user"><a title="3 secs"><span class="userinitials size-30">AS</span>Amlanjyoti Sarma</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="3 secs"><span class="userinitials size-30">AK</span>Ayush Krishna</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="3 secs"><span class="userinitials size-30">AK</span>Aashay Kumar Sinha</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="6 secs"><span class="userinitials size-30">DA</span>Divya Adarsh</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="11 secs"><span class="userinitials size-30">KK</span>Kashish Kishore Sinha</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="26 secs"><span class="userinitials size-30">AK</span>Ankush Kumar Jha</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="27 secs"><span class="userinitials size-30">AK</span>Aman Kumar</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="27 secs"><span class="userinitials size-30">PK</span>Pawan Kumar</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="32 secs"><span class="userinitials size-30">RA</span>Ravi Amish</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="38 secs"><span class="userinitials size-30">HS</span>Harikishor Sahu</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="44 secs"><span class="userinitials size-30">SK</span>Sakshi Kumari</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="48 secs"><span class="userinitials size-30">PR</span>Piyush Raj</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="49 secs"><span class="userinitials size-30">IR</span>Ishu Rastogi</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="51 secs"><span class="userinitials size-30">SK</span>Soumya Kumar</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="1 min 5 secs"><span class="userinitials size-30">DR</span>Divyam Raj</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="user"><a title="1 min 7 secs"><span class="userinitials size-30">VB</span>Vishakha Bharti</a></div><div class="message"><a title="Send a message"><i class="icon fa fa-comment-o fa-fw "  title="Send a message" role="img" aria-label="Send a message"></i></a></div></li>
<li class="listentry"><div class="otherusers"><span>Other users (33)</span></div></li>
</ul><div class="clearer"><!-- --></div>
            <div class="footer"></div>
            
        </div>

    </div>

</section>

  <span id="sb-8"></span></aside></div>
                        
                        

                    </section>
                </div>
            </div>
        </div>

        
        {% include '_footer.html' %}
                {% include '_script.html' %}
        

